<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaterTrackerAndroidApp">

        <activity
            android:name=".LoginFunction.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeFunction.MainActivity"
            android:exported="false" />

        <activity
            android:name=".LoginFunction.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".LoginFunction.PasswordRegistrationActivity"
            android:exported="false" />

        <activity android:name=".LoginFunction.ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".LoginFunction.VerifyOTPActivity" android:exported="false" />
        <activity android:name=".LoginFunction.ResetPasswordActivity" android:exported="false" />
        <activity android:name=".LoginFunction.ResetSuccessActivity" android:exported="false" />

        <!-- Nếu bạn có các Fragment, không cần khai báo chúng ở đây -->
    </application>

</manifest>